/*<!-- alles ansprechen -->*/
*{
    padding: 0;
    margin: 0;
    cursor: crosshair;
    font-family: "Nosifer", sans-serif;
    text-align: center;

}
body{
    background-color: black;
    color: white;
}

/*<!-- um das canvas abzulösen und zu zentrieren -->*/
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    font-size: small;
    border-style: unset;
    border-radius: 10px;
    background-color: black;
}
#overDiv{
    position: relative;
    z-index: 1;
}
#divScore{
    position: absolute;
    z-index: 2;
    left: 600px;
    top: -30%;
    margin: 20px;
    padding: 10px;
}
#height-top-score{
    position: relative;
}
#player-score{
    position: relative;
    top : 50px;
}
#sound-button{
    position: relative;
    top:340px;
}
#top_score{
    background-color: #6861FF ;
}
#height_score{
    background-color: #AB09FF ;
}
.snake_name{
    color: darkred;
}
#h1{

    color: black;
}
#h3{
    color: darkred;
}
h5{

}
table{
    font-size: 13px;
}
p,a,button{
    color: lightslategrey;
    text-shadow: 1px 2px darkred;
    text-align: center;
    border-radius: 10px;
    background-color: black;
}
/*dropBox*/
.dropbtn{
    background-color: black;
    border: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content button {
    border-radius: 10px;
    border-color: darkred;

}
.dropdown-content a:hover {background-color: black ;}
.dropdown:hover .dropdown-content {display: table-column-group;}
.dropdown:hover .dropbtn {background-color: black;}

#radioAn{
    background-color: #08f7fe;
    color: black;
    border:none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
#radioAus{
    background-color: #FF00D5;
    color: black;
    border:none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
#nav-button-div{
    position: absolute;
    top: 0;
}
